@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
* {
    box-sizing:border-box;
    margin:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
}

hr {
    width: 500px;
    color: white;
}

#title {
    font-family: 'Fascinate', cursive;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.links {
    margin-left: 20px:
}

.header button {
    padding-left: 20px;
    background-color: transparent;
    outline: none;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
#board {
    width: 300px;
    height: 280px;
    margin-top: 3px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 40px;
    height: 40px;
    margin: 2px;

    /* Text */
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}


.keyboard-row {
    width: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


